@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-display: var(--font-syne);

  --color-background: #050505;
  --color-foreground: #ededed;

  --color-brand-gold: #D4AF37;
  --color-brand-dark: #0a0a0a;
  --color-brand-green: #113827;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-brand-gold);
  color: #000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-gold);
}