@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-display: var(--font-syne);

  --color-background: #050505;
  --color-foreground: #ededed;

  --color-brand-gold: #D4AF37;
  --color-brand-dark: #0a0a0a;
  --color-brand-green: #113827;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

::selection {
  background-color: var(--color-brand-gold);
  color: #000;
}